<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="anon.psd">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".gui.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".gui.activities.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".gui.activities.MainActivity"/>

        <activity
            android:name=".gui.activities.PairedPSDSelectorActivity"
            android:label="Select your PSD from paired devices:"
            android:theme="@android:style/Theme.Material.Dialog.NoActionBar"
            android:parentActivityName=".gui.activities.SettingsActivity"/>


        <activity
            android:name=".gui.activities.PassActivity"
            android:label="@string/app_name"
            android:parentActivityName=".gui.activities.MainActivity"/>

        <activity
            android:name=".gui.activities.EnterPassActivity"
            android:label="@string/enter_pass_label"
            android:theme="@android:style/Theme.Material.Dialog"
            android:excludeFromRecents="true"/>

        <service
            android:name=".background.PsdService"
            android:exported="false"
            android:enabled="true"
            android:process=":remote">
        </service>

    </application>


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

</manifest>
