<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="anon.psd" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".gui.activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.activities.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Settings"
            android:parentActivityName=".gui.activities.MainActivity" />
        <activity
            android:name=".gui.activities.PairedPSDSelectorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Select your PSD from paired devices:"
            android:parentActivityName=".gui.activities.SettingsActivity"
            android:theme="@android:style/Theme.Material.Dialog.NoActionBar"/>
        <activity
            android:name=".gui.activities.PassActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".gui.activities.MainActivity"/>
        <activity
            android:name=".gui.activities.EnterPassActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/enter_pass_label"
            android:theme="@android:style/Theme.Material.Dialog"/>

        <activity
            android:name=".gui.activities.RollbackActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_rollback"
            android:theme="@android:style/Theme.Material.Dialog"/>





        <service
            android:name=".background.service.PsdService"
            android:enabled="true"
            android:exported="false"

            >

        </service>


    </application>

</manifest>
