<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="PSDConfigSection" type="PSD.Config.PSDConfigSection, PSD"/>
	</configSections>


	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<PSDConfigSection
		InputReportLength="16"
		PID="62995"
		VID="2522"/>

</configuration>




<!--
<PSDConfigSection
	InputReportLength="65"
	PID="0x0001"
	VID="0x6666"/>-->